{% import 'bootstrap/wtf.html' as wtf%}

<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
  </head>
  <body>
    {% extends 'bootstrap/base.html'%} {%block content%}{% block styles%} {{
    super() }}

    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/index.css')}}"
    />
    {% endblock %}
    <div class="container">
      <div class="row main">
        <div class="col-md-4 image">
          <img src="{{url_for('static', filename='loc.jpeg')}}" />
        </div>

        <div class="col-md-8 form">
          <h4>SIGN-UP</h4>
          <hr />
          {{wtf.quick_form(registration_form)}}
          <p>
            Have an account?
            <a href="{{url_for('auth.login')}}">Login here</a>
          </p>
        </div>
      </div>
    </div>

    {% endblock%}
  </body>
</html>
